.header{
    display: inline-flex;
    width:100%;
    height:20%;
    border: 1px solid indigo;
    background-color: white;
}
.header_body{
    width:25%;
    height: 50px; 
    border: 1px solid indigo;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: indigo;
}
.title{
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    height: 100px;
    width: 100%;
    color:indigo;
    background-color: lightsteelblue;
}
.aside{
    width: 100%;
    height: 15%;
    display:inline-flex;
}
.aside_body{
    width:100%;
    height:40px;
    border: 1px solid indigo;
    background-color: white;
    color: brown;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: indigo;
    
}
#aside{
    color:whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
   
}
body{
    background-color:teal;
}
.blanck 
{  width: 100%;
    height: 50px;
}
.class11{
    display: inline-flex;
    width:100%;
    height:20%;
    border: 1px solid indigo;
    background-color: white;
}
.class11_body{
    width:25%;
    height: 50px; 
    border: 1px solid indigo;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: indigo;
}
.competitive{
    display: inline-flex;
    width:100%;
    height:15%;
    border: 1px solid indigo;
    background-color: white;
}
.comp_body{
    width:25%;
    height: 50px; 
    border: 1px solid indigo;
    font-size: 20px;
    text-align: center;
    font-weight: bold;  
    color: indigo; 
}

#heading{
    width:100%;
    height: 50px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color: whitesmoke;
}
.misc{
    display: inline-flex;
    width:100%;
    height:15%px;
    border: 1px solid indigo;
    background-color: white;
}
.misc_body{
    width:50%;
    height: 50px; 
    border: 1px solid indigo;
    font-size: 20px;
    text-align: left;
    font-weight: bold; 
    color: indigo;  
}
#def1{
    height:150px;
    width:90%;
    background-color:white;
    color:blue;
}
