body
{font-weight:bold;
	}

.nav
{
	height:100px;
	background:white;
	color:white;
	background:teal;
}
.book
{
	display:inline;
	width:80px;
	height:30px;
	margin:5px;
	border:1px solid yellow;
	background:green;
	
	
}
.books{
	color:white;
	text-decoration:none;
	
}
.container1
{
	background:lightyellow;
	color:marineblue;
	padding-top:15px;
	
	}
	
h3{
color:purple;
}	
select
{
	background:green;
	color:white;
	height:25px;
	
}

#chem{
	background:chocolate;
	color:white;
	font-weight:bolder;
}
h2
{display:inline;
}
select{
	height:25px;
	margin-left:10px;
}

#recent{
text-decoration:none;
color:white;
border:1px solid green;
background:green;
padding:5px;
}
#p_table{
text-decoration:none;
border:1px solid white;
color:white;
background:green;
padding:5px;
}
.footer{
	border:1px solid teal;
	height:50px;
	width:100%;
	background-color:lightyellow;
}
.organic{
	border:10px solid cyan;
	border-style:groove;
}

.test{
	height:500px;
	border:10px solid cyan;
	border-style:groove;
	overflow:scroll;
}

